.login-form {
  margin: 30vh 30vw;
}

.input-text-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px 5vw;
  row-gap: 16px;
}

.input-text-container input {
  border-radius: 5px;
}

.submit-button-container {
  display: flex;
  margin: 40px 5vw;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .login-form {
    margin: 25vh 50px;
  }

}