.register-form {
  margin: 25vh 30vw;
}

.register-input-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 16px;
}

.register-input-container input {
  border-radius: 10px;
}

.register-button-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .register-form {
    margin: 25vh 50px;
  }


}